<div class="slot">
  <div class="space space-component vtop hleft col-md-12 background-transparent space-container">
    <div class="space space-component vtop hleft col-md-6 background-transparent space-container">
      <div class="space space-component vtop hleft col-md-12 background-success">
        <h4 class="right underline text-basic">Pros</h4>
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent">
        <input nbInput placeholder="" fieldSize="medium" type="text" shape="rectangle">
      </div>
      <div class="space space-component vtop hleft col-md-12 background-transparent space-container">
        <div class="space space-component vtop hleft col-md-12 background-transparent">
          <input nbInput placeholder="" fieldSize="large" type="text" shape="rectangle">
          <nb-select placeholder="Priority" size="large" status="primary">    
              <nb-option value="1">1</nb-option>    
              <nb-option value="2">2</nb-option>    
              <nb-option value="3">3</nb-option>    
              <nb-option value="4">4</nb-option>    
              <nb-option value="5">5</nb-option>
          </nb-select>
          <button nbButton size="medium" appearance="filled" status="primary">
              X
          </button>
        </div>
        <div class="space space-component vtop hleft col-md-12 background-transparent">
          
        </div>
      </div>
    </div>
    <div class="space space-component vtop hleft col-md-6 background-transparent space-container">
      <div class="space space-component vtop hleft col-md-12 background-transparent space-container">
        <div class="space space-component vtop hleft col-md-12 background-transparent">
          
        </div>
      </div>
    </div>
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    <button nbButton size="medium" appearance="filled" status="primary">
        SAVE
    </button>
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    <button nbButton size="medium" appearance="filled" status="primary">
        SHARE
    </button>
  </div>
  <div class="space space-component vtop hleft col-md-6 background-transparent">
    
  </div>
  <div class="space space-component vtop hleft col-md-12 background-transparent">
    <h1 class="text-basic">footer</h1>
  </div>
</div>