
.image {
  height: 48px;
  border-radius: 50px;
  object-fit: cover;
}

.space-component {
  height: auto;
  min-height: 3rem;
  overflow: visible;
}

.icon {
  margin: 8px 0 0 24px;
}

.icon1 {
  margin: 8px 0 0 12px;
}
