<div class="slot">
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    <img class="image" src="https://image.shutterstock.com/image-vector/book-shop-logo-vector-emblem-260nw-409192423.jpg">
  </div>
  <div class="space space-component vcenter hleft col-md-10 background-transparent">
    <h1 class="text-basic">Header</h1>
  </div>
  <div class="space space-component vtop hleft col-md-1 background-transparent">
    <nb-icon class="icon basic giant" icon="person"></nb-icon>
    <nb-icon class="icon1 basic giant" icon="log-out"></nb-icon>
  </div>
</div>