<div class="slot">
  <div class="space space-component vtop hleft col-md-12 background-transparent space-container">
    <div class="space space-component vtop hleft col-md-12 background-transparent space-container">
      <div class="space space-component vtop hleft col-md-12 background-transparent space-container">
        <div class="space space-component vtop hleft col-md-12 background-transparent">
          
        </div>
      </div>
    </div>
    <div class="space space-component vtop hleft col-md-2 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-10 background-transparent">
      <button nbButton class="button" size="medium" appearance="filled" status="success">
          Create Cart
      </button>
      <nb-select class="select" placeholder="City" size="medium" status="primary">    
          <nb-option value="Amsterdam">Amsterdam</nb-option>    
          <nb-option value="Rotterdam">Rotterdam</nb-option>    
          <nb-option value="Den Haag">Den Haag</nb-option>    
          <nb-option value="Berlin">Berlin</nb-option>    
          <nb-option value="Munchen">Munchen</nb-option>    
          <nb-option value="Frankfurt">Frankfurt</nb-option>    
          <nb-option value="Stuttgart">Stuttgart</nb-option>
      </nb-select>
      <nb-select placeholder="Country" size="medium" status="primary">    
          <nb-option value="All">All</nb-option>    
          <nb-option value="Netherlands">Netherlands</nb-option>    
          <nb-option value="Germany">Germany</nb-option>    
          <nb-option value="Belgium">Belgium</nb-option>
      </nb-select>
      <app-card2></app-card2>
    </div>
  </div>
</div>