<nb-card class="card" accent="primary">
  <nb-card-header class="slot">
    <div class="space space-component vcenter hcenter col-md-12 background-transparent">
      <img class="image" src="https://c7.uihere.com/files/348/800/890/computer-icons-avatar-user-login-avatar.jpg">
    </div>
    <div class="space space-component vcenter hcenter col-md-12 background-transparent">
      <h5 class="text-basic">Sign Up with</h5>
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      <a href="" target="_blank"  class="text-primary bold">Facebook</a>
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component1 vtop hleft col-md-1 background-transparent">
      
    </div>
    <div class="space space-component vtop hleft col-md-1 background-transparent">
      
    </div>
  </nb-card-header>

  <nb-card-body class="slot">
    <app-sign-up-form class="col-md-11"></app-sign-up-form>
    <div class="space space-component2 vtop hright col-md-1 background-transparent">
      
    </div>
  </nb-card-body>

  <nb-card-footer class="slot">
    <div class="space space-component vcenter hleft col-md-12 background-transparent">
      <button nbButton class="button left" size="medium" appearance="filled" status="success">
          Sign Up
      </button>
    </div>
  </nb-card-footer>
</nb-card>